<add-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></add-form>
<h2>
  List of users:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/update-form', key]">Update</button>

    <a >{{'user number '+key+' username: '+users[key].username+' phonenumber: '+users[key].phonenumber}}</a>
  </li>
</ul>
