<h2>Update user {{user?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" class="form-control" formControlName = "username"  value="{{username}}" [(ngModel)]="username">
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="phonenumber" name="phonenumber" id="phonenumber" class="form-control" formControlName = "phonenumber"  value="{{phonenumber}}" [(ngModel)]="phonenumber">
  </div>
  <br>
  <input type="submit" value="Updat user" class="btn btn-primary">
</form>
